:root {
  --brown-primary: #9a3b3b;
  --orange-primary: #ff8551;
  --green-btn: #45b649;
  --dark: #111;
  --semidark: #555;
  --light: #fff;
  --shadow: rgba(0, 0, 0, 0.2);
}

body {
  scroll-behavior: smooth;
}
.logo-icon {
  display: none;
}
.ini-footer {
  background-color: var(--brown-primary);
}
#navbar-container {
  position: sticky;
  top: 0;
  height: 50px;
  background-color: var(--orange-primary);
  z-index: 100;
}

#navbar-container .container .row .text {
  padding-top: 10px;
  position: sticky;
  color: var(--light);
  font-size: 18px;
}

#navbar-container .todo_list:hover {
  cursor: pointer;
}

/* todo list */
.modal ul li {
  list-style: none;
  font-size: 17px;
  padding: 12px 8px 12px 50px;
  user-select: none;
  cursor: pointer;
  position: relative;
}

.modal ul li::before {
  content: "";
  position: absolute;
  height: 28px;
  width: 18px;
  border-radius: 50%;
}
.modal ul li.checked {
  color: var(--semidark);
  text-decoration: line-through;
}

.modal ul li span {
  position: absolute;
  right: 0;
  top: 5px;
  width: 40px;
  height: 40px;
  font-size: 22px;
  color: var(--semidark);
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
}

.modal ul li span:hover {
  background: var(--light);
}
/* end todo list */

/* ----------PORTFOLIO---------- */

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

#portfolio {
  padding: 50px 0;
}

.work-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}

.work {
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  height: 120%;
  transition: opacity 1s;
}

.work img {
  width: 100%;
  border-radius: 10px;
  display: block;
  transition: transform 0.5s;
}

.layer {
  width: 100%;
  height: 0;
  background: var(--orange-primary);
  border-radius: 10px;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0px;
  text-align: center;
  font-size: 12px;
  transition: height 0.5s;
}

.layer h2 {
  padding-top: 15px;
  margin-bottom: 5px;
}

/* .layer a {
    margin-top: 15px;
    color: #080808;
    text-decoration: none;
    font-size: 15px;
    line-height: 40px;
    background: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    margin-bottom: 3rem;
} */

.work:hover img {
  transform: scale(1.1);
}

.work:hover .layer {
  height: 100%;
}

.btn-portf {
  display: block;
  margin: 50px auto;
  width: fit-content;
  border: 1px solid var(--brown-primary);
  padding: 14px 50px;
  border-radius: 6px;
  color: var(--dark);
  text-decoration: none;
  transition: background 0.75s;
}

.btn-portf:hover {
  background: var(--brown-primary);
}
.kotak2 {
  display: flex;
  justify-content: center;
}
.kotak {
  background-color: var(--orange-primary);
  border-radius: 10px;
  width: 20rem;
}
.jenis-portf a {
  text-decoration: none;
  color: var(--light);
}
.all,
.sistem-nformasi,
.profil {
  text-decoration: none;
  transition: text-decoration 1s;
}
.all:hover,
.sistem-informasi:hover,
.profil:hover {
  text-decoration: underline;
}

/* end porotofolio */

/*--------------------------------------------------------------
# Testimonials
--------------------------------------------------------------*/
.testimonials .testimonials-carousel,
.testimonials .testimonials-slider {
  overflow: hidden;
}

.testimonials .testimonial-item {
  box-sizing: content-box;
  padding: 40px;
  box-shadow: 0px 2px 12px var(--shadow);
  position: relative;
  background: var(--light);
}

.testimonials .testimonial-item .testimonial-img {
  width: 90px;
  border-radius: 50px;
  border: 6px solid var(--light);
  float: left;
  margin: 0 10px 0 0;
}

.testimonials .testimonial-item h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0 5px 0;
  color: var(--dark);
}

.testimonials .testimonial-item h4 {
  font-size: 14px;
  color: var(--semidark);
  margin: 0;
}

.testimonials .testimonial-item .quote-icon-left,
.testimonials .testimonial-item .quote-icon-right {
  color: var(--light);
  font-size: 26px;
}

.testimonials .testimonial-item .quote-icon-left {
  display: inline-block;
  left: -5px;
  position: relative;
}

.testimonials .testimonial-item .quote-icon-right {
  display: inline-block;
  right: -5px;
  position: relative;
  top: 10px;
}

.testimonials .testimonial-item p {
  font-style: italic;
  margin: 15px 0 0 0;
  padding: 0;
}

/* index  */

.center-text {
  background: url("/assets/img/home/code.jpg") no-repeat center center;
  background-size: cover;
  color: var(--light);
  text-align: center;
  padding: 20px;
  margin-bottom: 20px;
  font-size: 36px;
}

/* Carousel styling */
.carousel-caption {
  background: var(--shadow);
  color: var(--light);
  padding: 20px;
}

/* Card styling */
.card {
  border: none;
  transition: transform 0.2s;
  box-shadow: 0 4px 6px var(--shadow);
}

.card-body {
  background-color: var(--light);
  text-align: justify;
  height: 300px;
  display: flex;
  flex-direction: column;
}

.card-text {
  color: var(--semidark);
  flex-grow: 1;
}

.card:hover {
  transform: scale(1.05);
}

.card-img-top {
  max-height: 200px;
  object-fit: cover;
}

/*about us start*/
.header-about {
  background-image: url(/assets/img/about/header.jpg);
  background-size: cover;
}
.icon-about {
  color: var(--orange-primary);
}
.bg-offer {
  background-color: var(--orange-primary);
}
#optionAnswer {
  transition: all 0.6s ease-in-out;
  visibility: hidden;
  scale: 0.8;
}
#optionAnswer.show {
  visibility: visible;
  scale: 1;
}
.img-about {
  transition: all 0.2s ease-in-out;
}
.img-about:hover {
  filter: drop-shadow(12px 12px var(--orange-primary));
}
.card-founder {
  transition: all 0.2s ease-in-out;
}
.card-founder:hover {
  transform: translateY(-10px);
  filter: drop-shadow(0 12px var(--orange-primary));
}
/*about us end*/



@media (max-width: 767px) {

  .navbar-top .col-md-5,
  .navbar-top .col.text-end {
    display: none;
  }
}
/*about us*/
.header-about {
  background-image: url("https://images.unsplash.com/photo-1486312338219-ce68d2c6f44d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8b2ZmaWNlJTIwd29ya2VyfGVufDB8fDB8fHww&w=1000&q=80");
  background-size: cover;
}

/* Company section */
.nav-pills-custom .nav-link {
  color: var(--semidark);
  background: var(--light);
  position: relative;
}

.nav-pills-custom .nav-link.active {
  color: var(--green-btn);
  background: var(--light);
}

@media (min-width: 992px) {
  .nav-pills-custom .nav-link::before {
    content: "";
    display: block;
    border-top: 8px solid transparent;
    border-left: 10px solid var(--light);
    border-bottom: 8px solid transparent;
    position: absolute;
    top: 50%;
    right: -10px;
    transform: translateY(-50%);
    opacity: 0;
  }
}

.nav-pills-custom .nav-link.active::before {
  opacity: 1;
}
